@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: #ECCB95;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    outline: none;
    border: none;
}

input{
    outline: none;
    border: none;
}

nav{
    display: flex;
    justify-content: first baseline;
    align-items: center;
    position: fixed;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.1);
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #28241E;
}

nav ul{
    display: flex;
}

nav ul li a{
    font-family: 'Open Sans', sans-serif;
    height: 40px;
    line-height: 43px;
    margin: 5px;
    padding: 0px 15px;
    display: flex;
    text-transform: capitalize;
    font-weight: 500;
    color: wheat;
    letter-spacing: 1px;
    transition: 0.6s ease;
}

nav ul li a:hover{
    border-bottom: 2px solid wheat;
}

section{
    padding-top: 30px;
}

#header{
    width: 100%;
    height: 768px;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}

.header-heading{
    width: 500px;
    position: absolute;
    left: 18%;
    top: 30%;
}

.header-heading h1{
    font-size: 40px;
    margin: 0px;
    letter-spacing: 2px;
}

.github{
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #28241e;
    color: white;
    border-radius: 4px;
    transition: 0.6s ease-out;
    margin-top: 30px;
}

.github:hover{
    background-color: #28241ec2;
}

#technologies{
    width: 100%;
    height: 90vh;
    background-color: #a68e62;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
    position: relative;
}

.technologies-text{
    width: 55%;
    color: rgb(244, 235, 223);
}

dd{
    font-weight: 100;
    font-size: small;
    margin-left: 15px;
}

#projects{
    width: 100%;
    height: 80vh;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    flex-direction: column;
    padding: 40px 0px;
}

.projects-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-box{
    background-color:#28241E;
    color: azure;
    height: 190px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 4px 10px 12px rgb(45, 40, 27);
    position: relative;
    padding: 15px;
}

.project-text{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project-text p{
    color: rgb(232, 204, 209);
}